{%extends 'base.html.twig' %}
{% block title %}DRINK IT{% endblock %}
{% block header %}
    <header  class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
             style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp')">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Find your favourite drink</h1>
                <p class="lead fw-normal text-white-50 mb-0">and make it at home</p>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

{% for drink in drinks %}

                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Favorite badge-->
                        <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">♥</div>
                        <!-- Product image-->
                        <img class="card-img-top" src={{ drink.image }} alt="..." height="200" width="100"/>
                        <!-- Product details-->
                        <div class="card-body p-4">

                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ drink.name }}</h5>
                                <!-- Product type-->
                                {{ drink.type }}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Show recipe</a></div>
                        </div>
                    </div>
                </div>

{% endfor %}
            </div>
        </div>
        </div>
    </section>

{% endblock %}

